$lightGreen: #b9e7e7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;
        // login and register

        .link{
            text-decoration: none;
            color: inherit;
        }

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;
            
            h1{

                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 30%;
                gap: 20px;
            }

            input {
                border: none;
                padding: 10px;
                border-bottom: 1px solid grey;
            }

            button {
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                cursor: pointer;
            }

            p {
                font-size: 12px;
                color: red;
                text-align: center;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }

        // navbar

        .navbar {
            .container{
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        // home

        .home{

            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: $lightGreen;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;

                            &:hover {
                                border: 1px solid white;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        
        // single post

        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;                
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;

                        &:hover {
                            border: 1px solid white;
                            background-color: $lightGreen;
                            color: black;
                        }
                    }
                }
            }

        }
    }
}