@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #f1fbff;
}
.section-padding {
    padding: 100px 0;
}
.carousel-item {
    height: 80vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}
.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.w-100 {
    height: 100vh;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
    font-size: 50px;
}
.team .card-body i {
    font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
    .card {
        margin-bottom: 30px;
    }
    .img-area img {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
}


.form-main-container {
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #cad0d2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.form-wrapper {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.form-header {
    background: url(../public/images/header.jpg);
    /*background: #4C2CB8;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 70px 15px 74px 15px;
    z-index: 1;
    flex-wrap: wrap;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.form-header::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(17 25 29 / 70%);
}

.form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
}

.form-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
}

.form-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 100px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

/* ============> Input */

input {
    outline: none;
    border: none;
}

.input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 25px;
}

.input-style {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px 15px;
}

input.input-style {
    height: 45px;
}

.input-style-focus {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.input-style-focus::before {
    content: "";
    background: #4C2CB8;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.input-style:focus + .input-style-focus::before {
    width: 100%;
}

.has-val.input-style + .input-style-focus::before {
    width: 100%;
}

/* ============> Button */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.button-style {
    height: 50px;
    background-color: #464470;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button-style:hover {
    background-color: #333333;
}

/* ============> Checkbox */

.checkbox-wrapper {
    padding-bottom: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
}

.checkbox-style {
    display: none;
}

.label-checkbox-style {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4C2CB8;
    line-height: 1.4;
    padding-left: 26px;
    display: block;
    position: relative;
    cursor: pointer;
}

.label-checkbox-style:hover {
    text-decoration: none;
    color: #9D8AB1;
}

.label-checkbox-style::before {
    content: "\f00c";
    width: 18px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 14px;
    color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 2px;
    background: #fff;
    border: 2px solid #4C2CB8;
    left: 0;
    top: 50%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.checkbox-style:checked + .label-checkbox-style::before {
    color: #4C2CB8;
}

/* ============> Input Password */

.form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #555555;
    border: transparent;
    padding: 0 5px 23px;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control-focus::before {
    content: "";
    background: #4C2CB8;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.form-control:focus + .form-control-focus::before {
    width: 100%;
}

.has-val.form-control + .form-control-focus::before {
    width: 100%;
}

/* ============> Responsive */

@media (max-width: 576px) {
    .form-content {
        padding: 64px 32px 67px 30px;
    }
}

@media (max-width: 480px) {
    .form-content {
        padding: 43px 15px 57px 15px;
    }

    .label-input-style {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}

/* dark mode */
